@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the app */
* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overscroll-behavior: none;
}

/* Font for headings */
.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}
